<div class="dialog-container">
<h2>{{formTitle}}</h2>
<mat-dialog-content>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Autor</mat-label>
      <input matInput name="autor" formControlName="author">
      <mat-error>Campo autor deve ser preenchido</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Título</mat-label>
      <input matInput name="titulo" formControlName="title">
      <mat-error>Campo título deve ser preenchido</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Data</mat-label>
      <input matInput name="data" [matDatepicker]="picker" formControlName="date">
      <mat-hint>DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Uma data deve ser selecionada</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Conteúdo</mat-label>
      <textarea matInput rows="10" name="conteudo" formControlName="content"></textarea>
    </mat-form-field>
    <button mat-button [disabled]="!postForm.valid">{{submitButtonLabel}}</button>
  </form>

</mat-dialog-content>

</div>
